#big-task-pop-up-subtasks-container {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#big-edit-task-subtask-input-container {
    position: relative;
}
  
.big-task-pop-up-subtasks {
    display: flex;
    align-items: center;
    gap: 16px;
}
  
.big-task-pop-up-subtasks p {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

#big-edit-task-subtask-input-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: text;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    gap: 5px;
}
  
#big-edit-task-subtask-input-icon-container svg {
    padding: 8px;
    border-radius: 100%;
    box-sizing: unset;
}
  
#big-edit-task-subtask-icon-line {
    border: 1px solid #d1d1d1;
    height: 24px;
    width: 2px;
    border-radius: 100%;
}

#big-edit-task-subtask-container {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
  
.edit-popup-subtasks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 6px 16px 6px 40px;
    min-height: 32px;
    position: relative;
}
  
.edit-popup-subtasks:hover {
    background-color: #eeeeee;
    align-items: center;
}
  
.edit-popup-subtasks:hover .edit-popup-subtask-icon-container,
.edit-popup-subtasks:has(#subtaskEditedPopUp) .edit-popup-subtask-icon-container {
    opacity: 1;
}

.edit-popup-subtask-icon-container {
    display: flex;
    align-items: center;
    gap: 10px;
    opacity: 0;
    transition: 0.1s;
    box-sizing: unset;
    position: absolute;
    right: 16px;
}
  
.edit-popup-subtasks-line {
    height: 24px;
    width: 2px;
    background-color: #a8a8a8;
}
  
#subtaskEditedPopUp {
    padding: 4px 16px 4px 40px;
    outline: none;
    border: none;
    background: #ffffff;
    border-bottom: 1px solid #005dff;
    position: absolute;
    top: 0;
    left: 0;
    right: 56px;
    bottom: 0;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
}

.big-edit-task-subtask {
    padding-bottom: 8px;
}
  
.big-edit-task-subtask-icon-container {
    display: flex;
    gap: 2px;
}
  
#big-edit-task-subtask-input-save-icon,
#big-edit-task-subtask-input-close-icon {
    cursor: pointer;
    transition: 0.1s;
}
  
#big-edit-task-subtask-input-save-icon:hover,
#big-edit-task-subtask-input-close-icon:hover {
    background-color: #f0f0f0;
}
  
.big-edit-task-subtask {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
}
  
.big-task-pop-up-subtask-checkbox-icon path,
.big-task-pop-up-subtask-checkbox-icon rect {
    stroke: #2a3647;
}

#big-edit-task-subtask-input,
#big-edit-task-due-date-input,
#big-edit-task-assigned-to-input,
#big-edit-task-description-input,
#big-edit-task-title-input {
  border-radius: 10px;
  background: #ffffff;
  border: 1px solid #d1d1d1;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  outline: none;
}

#big-edit-task-subtask-input:focus,
#big-edit-task-due-date-input:focus,
#big-edit-task-description-input:focus,
#big-edit-task-assigned-to-input:focus,
#big-edit-task-title-input:focus {
  border: 1px solid #29abe2;
}

#big-edit-task-subtask-input::placeholder,
#big-edit-task-due-date-input::placeholder,
#big-edit-task-description-input::placeholder,
#big-edit-task-assigned-to-input::placeholder,
#big-edit-task-title-input::placeholder {
  font-size: 20px;
  font-weight: 400;
  color: #d1d1d1;
}

#big-edit-task-subtask-input {
    padding: 12px 45px 12px 16px;
}

#big-task-pop-up-subtask-all {
    padding-bottom: 10px;
}