.main {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 247px);
}

.submitSection {
    position: absolute;
    left: 0;
    bottom: 0;
}

.subtaskBorder {
    width: 0px !important;
    height: 24px;
    border: 1px solid rgba(209, 209, 209, 1) !important;
}

.onFocus div {
    width: 74px;
    gap: 10px;
    border: unset;
}

@media (max-width: 1000px) {
    body {
        overflow: hidden;
    }
    .main {
        flex-direction: column;
        overflow-x: scroll;
        height: calc(100vh - 180px);
        padding: 10px;
    }
    .addTaskBody form {
        flex-direction: column;
        align-items: center;
    }
    #inputTitle {
        border: unset;
    }
    .input1 {
        padding: 0px;
        width: 90%;
    }
    .input2 {
      padding: 0px;
      width: 90%;
    }
    .submitSection {
      position: relative;
      justify-content: space-around;
      bottom: 0;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
    .prio div {
      flex-direction: row !important;
    }
}