.contactIsSelect {
    background-color: rgba(42, 54, 71, 1);
    color: rgba(255, 255, 255, 1);
}

.contactIsSelect:hover {
    background-color: rgba(42, 54, 71, 1) !important;
}

.checked {
    padding-right: 4px;
}

.assignetToDivSearch {
    border: unset;
}