body {
  background-color: rgba(246, 247, 248, 1);
}

.main {
  padding: 0px 0px 0px 232px;
  b {
    color: red;
  }
}

form div div div {
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 48px;
  border: 1px solid rgba(209, 209, 209, 1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  input {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0px 15px 0px 15px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
  }
  textarea {
    width: 100%;
    height: 112px;
    border: unset;
    border-radius: 10px;
    padding: 12px;
    outline: none;
    cursor: pointer;
  }
  :focus {
    border: 1px solid rgba(41, 171, 226, 1);
  }
}

.select {
  cursor: pointer;
  justify-content: space-between;
}
.select span {
  padding: 0px 10px 0px 10px;
}
#arrow {
  display: flex;
  padding: 0px 20px 0px 0px;
  width: 24px;
}

.descriptionStyle {
  height: 136px;
  border-radius: 10px;
}

h1 {
  font-family: "Open Sans";
  font-size: 61px;
  font-weight: 700;
  padding-left: 40px;
}

.addTaskBody form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input1 {
  width: 440px;
  height: 424px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 20px 40px;
  flex-direction: column;
}

.input1 {
  div {
    width: 100%;
  }
  p {
    margin: 15px 0px 5px 0px;
  }
}

.borderLine {
  border: 1px solid rgba(209, 209, 209, 1);
}

.input2 {
  width: 440px;
  height: 416px;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.input2 {
  div {
    width: 100%;
    margin: 10px 0px 5px 0px;
  }
  p {
    margin: 10px 0px 5px 0px;
  }
  .prio div {
    display: flex;
    flex-direction: row;
    gap: 8px;
    height: 56px;
    border: unset;
    background-color: rgba(246, 247, 248, 1);
  }
  .prio div div {
    width: 136px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    margin: 0px;
  }
  .prio div div:hover {
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  }
}

.center {
  align-items: center;
  justify-content: center;
}

.backgroundUrgent {
  background-color: rgba(255, 61, 0, 1) !important;
  color: rgba(255, 255, 255, 1);
}

.backgroundMedium {
  background-color: rgba(255, 168, 0, 1) !important;
  color: rgba(255, 255, 255, 1);
}

.backgroundLow {
  background-color: rgba(122, 226, 41, 1) !important;
  color: rgba(255, 255, 255, 1);
}

.submitSection {
  position: fixed;
  left: 232px;
  bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.buttons {
  display: flex;
  align-items: center;
  width: 309px;
  height: 56px;
  gap: 16px;
  padding-right: 10%;
}

.darkBTN {
  width: 183px;
  border-radius: 10px;
  background-color: rgba(42, 54, 71, 1);
  padding: 16px;
  color: rgba(255, 255, 255, 1);
}

.darkBTN:hover {
  cursor: pointer;
}

.btn {
  width: 110px;
  background: rgba(246, 247, 248, 1);
  border: 1px solid rgba(42, 54, 71, 1);
  border-radius: 10px;
  padding: 16px;
}

.btn:hover {
  cursor: pointer;
}
