.contactIsSelect {
    background-color: rgba(42, 54, 71, 1);
    color: rgba(255, 255, 255, 1);
}

.contactIsSelect:hover {
    background-color: rgba(42, 54, 71, 1) !important;
}

.checked {
    padding-right: 4px;
}

.assignetToDivSearch {
    border: unset;
    span {
        padding: 0px 0px 0px 10px !important;
    }
    input {
        padding: 0px 5px 0px 5px;
    }
}
.border-unset {
    border: unset !important;
}