body {
  background-color: rgba(246, 247, 248, 1);
}

.main {
  padding: 0px 0px 0px 232px;
  b {
    color: red;
  }
}

::placeholder {
  color: rgba(209, 209, 209, 1);
}

form div div div {
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 48px;
  border: 1px solid rgba(209, 209, 209, 1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  input {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0px 15px 0px 15px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
  }
  textarea {
    width: 100%;
    height: 100%;
    border: unset;
    border-radius: 10px;
    padding: 12px;
    outline: none;
    cursor: pointer;
    box-sizing: border-box;
  }
  :focus {
    border: 1px solid rgba(41, 171, 226, 1);
  }
}

.select {
  cursor: pointer;
  justify-content: space-between;
}
.select span {
  padding: 0px 10px 0px 10px;
}
.select:focus {
  border: 1px solid rgba(41, 171, 226, 1);
}
#arrow {
  display: flex;
  padding: 0px 20px 0px 0px;
  width: 24px;
}

#calender {
  margin-right: 25px;
}

#calender:hover {
  cursor: pointer;
  padding: 5px;
  border-radius: 100%;
  background-color: #d9d9d9;
  margin-right: 20px;
}

.descriptionStyle {
  height: 136px;
  border-radius: 10px;
}

h1 {
  font-family: "Open Sans";
  font-size: 61px;
  font-weight: 700;
  padding-left: 40px;
}

.addTaskBody form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input1 {
  width: 440px;
  height: 424px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 20px 40px;
  flex-direction: column;
}

.input1 {
  div {
    width: 100%;
  }
  p {
    margin: 15px 0px 5px 0px;
  }
}

.borderLine {
  border: 1px solid rgba(209, 209, 209, 1);
}

.input2 {
  width: 440px;
  height: 424px;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.input2 {
  div {
    width: 100%;
    margin: 10px 0px 5px 0px;
  }
  p {
    margin: 10px 0px 5px 0px;
  }
  .prio div {
    display: flex;
    flex-direction: row;
    gap: 8px;
    height: 56px;
    border: unset;
    background-color: rgba(246, 247, 248, 1);
  }
  .prio div div {
    /* width: 136px; */
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    margin: 0px;
  }
  .prio div div:hover {
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  }
}

.center {
  align-items: center;
  justify-content: center;
}

.backgroundUrgent {
  background-color: rgba(255, 61, 0, 1) !important;
  color: rgba(255, 255, 255, 1);
}

.backgroundMedium {
  background-color: rgba(255, 168, 0, 1) !important;
  color: rgba(255, 255, 255, 1);
}

.backgroundLow {
  background-color: rgba(122, 226, 41, 1) !important;
  color: rgba(255, 255, 255, 1);
}

.submitSection {
  position: fixed;
  left: 232px;
  bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.buttons {
  display: flex;
  align-items: center;
  width: 309px;
  height: 56px;
  gap: 16px;
  padding-right: 10%;
}

.darkBTN {
  width: 183px;
  border-radius: 10px;
  background-color: rgba(42, 54, 71, 1);
  padding: 16px;
  color: rgba(255, 255, 255, 1);
}

.darkBTN:hover {
  cursor: pointer;
}

.btn {
  width: 110px;
  background: rgba(246, 247, 248, 1);
  border: 1px solid rgba(42, 54, 71, 1);
  border-radius: 10px;
  padding: 16px;
}

.btn:hover {
  cursor: pointer;
}

.drop-bg {
  position: absolute;
  max-width: 440px;
  height: auto;
  /* padding: 10px 0px 0px 0px; */
  z-index: 9999;
  flex-direction: column;
}

.drop-bg div {
  margin: 0px;
  border: none;
  justify-content: start;
}

.drop-bg div span {
  padding-left: 10px;
}

.drop-bg div:hover {
  cursor: pointer;
  background-color: lightgrey;
}

#categoryDropDown {
  margin: 0px;
  /* width: 36%; */
}

#category {
  margin-bottom: 0px;
}

.onFocus input {
  border: unset !important;
}

.onFocus:focus {
  border: 1px solid rgba(41, 171, 226, 1);
}

#subtask:focus {
    border: unset;
}

.subtasksvg {
    margin-right: 25px;
}

.subtasksvg:hover {
    cursor: pointer;
    padding: 8px;
    border-radius: 100%;
    background-color: #d9d9d9;
    margin-right: 18px;
}

.subtask {
    background: unset !important;
    border: unset !important;
    justify-content: unset;
    flex-direction: column;
    margin: 0px !important;
    overflow-y: scroll;
    height: 100px;
}

.subtasks {
    background-color: unset !important;
    border: unset !important;
    height: 48px;
    margin: 5px 0px 0px 0px !important;
    justify-content: start;
    .subBtn1 {
      background: unset !important;
      border: unset !important;
      justify-content: end;
      gap: 12px;
      padding-right: 20px;
      margin: 0px;
    }
    /* .subBtn1 svg:hover {
      cursor: pointer;
    } */
    span {
      padding-left: 15px;
    }
}

.subtasks:hover {
  cursor: pointer;
  background-color: rgba(238, 238, 238, 1)!important;
  margin: 0px;
}

.transparent {
  color: transparent !important;
}

.required-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  color: rgba(255, 129, 144, 1);
}

#assignedToDropDown {
  height: 200px;
  overflow-y: scroll;
  justify-content: start;
}

.assignedDropDownField {
  justify-content: space-around;
  .circle {
    border: 2px solid rgba(255, 255, 255, 1);
    width: 42px;
    height: 38px;
    background-color: cadetblue;
    justify-content: center;
    align-items: center;
  }
  .circle span {
  padding: 0px;
  }
  :focus {
    background: rgba(9, 25, 49, 1);
  }
}

.assignedDropDownField:hover {
  background-color: rgba(42, 54, 71, 1) !important;
  color: rgba(255, 255, 255, 1);
}

.assignedDropDownField div:hover {
  background-color: unset;
}

#userCircles {
  background-color: unset;
  border: unset;
  justify-content: start;
}

.assignetToDiv {
  width: 42px !important;
  height: 42px !important;
  margin: 10px;
}


@media (max-width:1000px) {
  .main {
    padding: 90px 0px;
  }
  .submitSection {
    left: 0px;
    bottom: 100px;
  }
}

@media (max-width: 900px) {
  .prio div {
    flex-direction: column !important;
  }
  .prio div div {
    flex-direction: row !important;
  }
}

@media (max-width: 600px) {
  .addTaskBody form {
    flex-direction: column;
    align-items: center;
  }
  .prio div {
    flex-direction: row !important;
  }
  .borderLine {
    display: none;
  }
  .input1 {
    padding: 0px;
    width: 90%;
  }
  .input2 {
    padding: 0px;
    width: 90%;
  }
  .submitSection {
    position: relative;
    justify-content: space-around;
    bottom: 0;
    flex-direction: column;
    align-items: center;
  }
  .buttons {
    padding-right: 0px;
  }
}

@media (max-width:350px) {
  .buttons {
    flex-direction: column;
    padding-bottom: 90px;
    width: 80%;
  }
  .btn {
    width: 80%;
  }
  .darkBTN {
    width: 80%;
  }
}