.subtasks {
  background-color: rgba(255, 255, 255, 1) !important;
  align-items: center;
  input {
    width: 100%;
  }
  input:focus {
    border: unset;
  }
  :hover {
    background-color: unset;
  }
}

.inputButtons {
  border: unset;
  width: 70px !important;
  padding: 0px 10px;
  /* justify-content: center; */
  gap: 10px;

  display: flex;
  align-items: center;
}

#subtask:focus {
  border: unset;
}

.subtasksvg {
  margin-right: 25px;
}

.subtasksvg:hover {
  cursor: pointer;
  padding: 8px;
  border-radius: 100%;
  background-color: #d9d9d9;
  margin-right: 18px;
}

.subtask {
  background: unset !important;
  border: unset !important;
  justify-content: unset;
  flex-direction: column;
  margin: 0px !important;
  overflow-y: scroll;
  height: 100px;
}

.subtasks {
  background-color: unset !important;
  border: unset !important;
  margin: 5px 0px 0px 0px !important;
  min-height: 32px;
  .subBtn1 {
    background: unset !important;
    border: unset !important;
    justify-content: end;
    gap: 12px;
    padding-right: 20px;
    margin: 0px;
    width: 68px;
  }
  /* .subBtn1 svg:hover {
      cursor: pointer;
    } */
  li {
    padding-left: 15px;
    width: 100%;
  }
}

.subtasks:hover {
  cursor: pointer;
  background-color: rgba(238, 238, 238, 1) !important;
  margin: 0px;
}

.subtaskIcons {
  justify-content: end;
  gap: 12px;
  border: unset;
  margin: 0px !important;
  padding-right: 20px;
  width: 56px !important;
  :hover {
    cursor: pointer;
  }
}

.subtaskBorder {
  width: 0px !important;
  height: 24px;
  border: 1px solid rgba(209, 209, 209, 1);
}

#emptySubtask {
  border: unset;
  justify-content: center;
}

.emptyPopUp {
  height: 25px;
  width: 210px !important;
  background-color: rgba(238, 238, 238, 1);
  justify-content: center;
}