.main {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 247px);
}

.submitSection {
  position: absolute;
  left: 0;
  bottom: 0;
}

.subtaskBorder {
  width: 0px !important;
  height: 24px;
  border: 1px solid rgba(209, 209, 209, 1) !important;
}

.onFocus div {
  width: 74px;
  gap: 10px;
  border: unset;
}

.arrow {
  margin: 0px 20px 0px 20px;
  /* padding: unset !important; */
  box-sizing: unset;
}

#plusSymbole {
  margin-right: 20px;
}

#searchField {
  height: 91%;
}

@media (max-width: 1000px) {
  .main {
    flex-direction: column;
    overflow-x: scroll;
    height: calc(100vh - 180px);
    padding: 10px;
  }
  .addTaskBody form {
    flex-direction: column;
    align-items: center;
  }
  #inputTitle {
    border: unset;
  }
  .input1 {
    padding: 0px;
    width: 90%;
  }
  .input2 {
    padding: 0px;
    width: 90%;
    .prio div {
      justify-content: space-around;
    }
    .prio div div {
      justify-content: center;
    }
  }
  .submitSection {
    position: relative;
    justify-content: space-around;
    bottom: 0;
    align-items: center;
    gap: 20px;
    margin-bottom: 0;
  }
  .add-task-pop-up {
    padding: 30px 0px;
    h1 {
      padding-left: 40px;
    }
  }
}

@media (max-width: 700px) {
  .submitSection {
    flex-direction: column;
  }
}
