@media (max-width: 1000px) {
  .main {
    padding: 100px 30px 0px 30px;
  }
  .submitSection,
  #addedAnimation,
  #dateAnimation {
    left: 0 !important;
  }
}

@media (max-width: 900px) {
  .addTaskBody form {
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
  }
  .submitSection {
    position: relative;
    align-items: center;
    margin-bottom: 40px;
    gap: 20px;
  }
  .borderLine {
    display: none;
  }
}

@media (max-width: 600px) {
  .main {
    p {
      font-size: 16px;
    }
  }
  .borderLine {
    display: none;
  }
  .input1 {
    padding: 0px;
    width: 90%;
  }
  .input2 {
    padding: 0px;
    width: 90%;
  }
  .buttons {
    padding-right: 0px;
    width: unset;
  }
  .circle span {
    font-size: 12px !important;
    font-weight: 400 !important;
  }
  h1 {
    font-size: 47px;
  }
  .btn {
    display: none;
  }
  #inputTitle::placeholder,
  #date::placeholder,
  #subtask::placeholder,
  #inputDescription::placeholder {
    font-size: 16px;
  }
  #inputTitle,
  #date,
  #subtask,
  #inputDescription {
    font-size: 16px;
  }
  .assignetToDivSearch span,
  .select span {
    font-size: 16px;
  }
  .input2 {
    .prio div div {
      font-size: 16px;
    }
  }
}

@media (max-width: 500px) {
  .input2 {
    .prio div {
      flex-direction: column;
      height: auto;
    }
    .prio div div {
      flex-direction: row;
      height: 41px;
    }
  }
}

@media (max-width: 350px) {
  .buttons {
    flex-direction: column;
    width: 80%;
  }
  .darkBTN {
    width: 80%;
    span {
      font-size: 16px;
    }
  }
  .submitSection {
    flex-direction: column;
    margin-bottom: 25px;
  }
}

@media (max-height: 900px) {
  .max-w {
    padding-bottom: 230px;
  }
  .main {
    overflow-y: scroll;
  }
  .submitSection {
    width: unset;
    position: fixed;
    margin-left: 233px;
    padding: 1% 3%;
    background-color: rgba(246, 247, 248, 1);
  }
  @media (max-width: 1000px) {
    .submitSection {
      margin-left: unset;
      margin-bottom: 85px;
    }
  }
  @media (max-width: 900px) {
    .input2 {
      padding-bottom: 100px;
    }
  }
  #section99 {
    padding-bottom: 100px;
  }
}
