.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  z-index: 1000;
}

#logoKlein {
  width: 100px;
  height: auto;
  position: relative;
}

#logoKlein.shrink {
  animation: moveLogo 1s ease-in-out;
}

@keyframes moveLogo {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-46vw, -39vh);
  }
}

.d-none {
  display: none;
}

.main-container {
  display: none;
}

.main-container.show {
  display: flex;
  flex-direction: column;
  flex: 1;
}
