* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

#wrap {
  overflow: hidden;
  position: relative;
}

main {
  box-sizing: border-box;

  padding: 40px;
  padding-left: 270px;

  width: 100%;
  height: calc(100vh - 96px);

  display: flex;
  flex-direction: column;

  background-color: #f9f9f9;
}

body .bg-op-0 {
  background-color: #00000000;
  z-index: -1;

  transition: 0.2s ease-in-out 0.3s;
}

body .translate-100 {
  transform: translate(80vh, -50%);
}

.headline-button {
  display: flex;
  justify-content: center;
}

/* main headline */
#main-headline {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;

  margin-bottom: 30px;
}

#main-headline h1 {
  font-size: 61px;
  font-weight: 700;
  padding: 0;

  margin: 0;
}

#search-container {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 32px;
}

#search-input-container {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 48px;
  border-radius: 10px;

  background-color: white;

  border: 1px solid #a8a8a8;
}

#search-input-container:has(#search-input:focus) {
  border: 1px solid #29abe2;
}

#search-input {
  width: 100%;
  min-height: 48px;

  padding: 8px 16px;

  border-radius: 10px;

  font-size: 20px;
  font-weight: 400;

  outline: none;
  border: none;
}

#search-input::placeholder {
  font-size: 20px;
  font-weight: 400;

  color: #d1d1d1;
}

#search-icon {
  box-sizing: unset;

  height: 20px;
  width: 20px;

  padding: 5px 20px;

  border-left: 1px solid #d1d1d1;

  cursor: pointer;
}

#search-icon path {
  transition: 0.2s;
}

#search-icon:hover path {
  fill: #29abe2;
}

#add-task-button {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 48px;
  padding: 8px 16px;
  border-radius: 10px;

  background: #2a3647;
  color: white;

  font-size: 21px;
  font-weight: 700;

  border: none;

  cursor: pointer;

  transition: 0.2s;
}

#add-task-button-mobile {
  display: none;
  justify-content: center;
  align-items: center;

  min-height: 48px;
  padding: 20px;
  border-radius: 10px;

  background: #2a3647;
  color: white;

  font-size: 21px;
  font-weight: 700;

  border: none;

  cursor: pointer;

  transition: 0.2s;
}

#add-task-button:hover {
  box-shadow: 0px 4px 4px 0px #00000040;
  background: #29abe2;
}

#add-task-button:active {
  box-shadow: none;
  background: #091931;
}

#add-task-button-icon {
  box-sizing: unset;

  padding: 0 10px;
}

.content-task {
  padding: 16px;
}

/* Zu Testzwecken (Anfang): Kann man nachher auch auskommentieren */

#to-do-container,
#await-feedback-container,
#in-progress-container,
#done-container {
  /* padding: 16px; */
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  /* border: 2px solid black; */
}

/* Zu Testzwecken (Ende)


/* all sections */
#all-sections-container {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 100%;

  gap: 26px;
}

.board-section {
  width: 100%;
}

.section-headline {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.section-headline h2 {
  font-size: 20px;
  font-weight: 700;
  color: #42526e;
}

.plus-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
  padding-bottom: 1px;

  border: 2px solid #2a3647;
  border-radius: 8px;

  transition: 0.2s;
}

.plus-icon-container svg path {
  stroke: #2a3647;

  transition: 0.2s;
}

.plus-icon-container:hover {
  border: 2px solid #29abe2;

  cursor: pointer;
}

.plus-icon-container:hover svg path {
  stroke: #29abe2;
}

.todo {
  padding: 8px;
  border: 1px solid black;
  border-radius: 16px;
  margin: 8px;
  cursor: pointer;
}

.inProgress {
  padding: 8px;
  border: 1px solid black;
  border-radius: 16px;
  margin: 8px;
  cursor: pointer;
}

.no-task {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;

  border: 2px dotted #a8a8a8;
  box-shadow: 0px 0px 4px 0px #00000029;
  background: #e7e7e7;

  border-radius: 10px;

  font-size: 16px;
  font-weight: 400;
  color: #a8a8a8;
}

/* wrap-container */
.wrap-container {
  height: 100%;
}

/* task */
.task {
  width: 100%;
  cursor: pointer;
  border-radius: 24px;
  padding: 16px;
  background: #ffffff;
  box-shadow: 0px 0px 10px 3px #00000014;
}

.task-category {
  width: fit-content;
  padding: 5px 16px;
  border-radius: 8px;
  color: white;
}

.task-title {
  font-size: 16px;
  font-weight: 700;

  color: #2a3647;

  margin: 17px 0 0 0;
}

.task-description {
  font-size: 16px;
  font-weight: 400;

  color: #a8a8a8;

  margin: 8px 0 0 0;

  word-break: break-all;
}

.task-bar-container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 10px;

  padding: 5px 0;
}

.task-bar-content {
  background-color: #4589ff;

  width: 50%;
  height: 100%;

  border-radius: 10px;
}

.task-bar {
  width: 100%;
  flex: 1;
  height: 8px;

  border-radius: 8px;

  background: #f4f4f4;
}

.task-bar-text {
  font-size: 12px;
  font-weight: 400;

  width: max-content;
}

.task-contacts-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.task-contacts {
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 24px; */
  height: 32px;
  width: 32px;
  border-radius: 100%;

  border: 1px solid #ffffff;
  background: #1fd7c1;

  margin-left: -10px;

  color: white;

  font-size: 12px;
  font-weight: 400;
}

.task-contact:first-child {
  background: #ff7a00;

  margin-left: 0;
}

.task-contact:last-child {
  background: #462f8a;
}

/* add task pop up */
.add-task-pop-up-bg {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  z-index: 10;

  background-color: rgba(0, 0, 0, 0.5);

  transition: 0.2s;
}

.add-task-pop-up {
  width: 90%;
  min-width: 800px;
  max-width: 1300px;

  background-color: white;
  box-shadow: 0px 0px 4px 0px #0000001a;

  border-radius: 30px;

  padding: 50px;

  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  transition: 0.5s ease-in-out;
}

#close-add-task-pop-up {
  box-sizing: unset;

  position: absolute;
  top: 50px;
  right: 40px;

  height: 15px;

  padding: 8px;

  border-radius: 100%;

  cursor: pointer;

  z-index: 100;
}

#close-add-task-pop-up:hover {
  background: #d9d9d9;
}

.main {
  padding: 0;
}

.add-task-pop-up h1 {
  font-size: 61px;
  font-weight: 700;

  margin: 0;
  padding: 0;
}

.addTaskBody form {
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;

  gap: 40px;

  width: 100%;
}

.input1 {
  width: unset;
  height: unset;

  padding: 0;

  flex: 1;

  display: flex;
  align-items: center;
  justify-content: unset;

  flex-direction: column;
}

.input2 {
  width: unset;
  height: unset;

  padding: 0px;

  flex: 1;

  display: flex;
  align-items: center;

  flex-direction: column;
}

.input2 .prio div {
  background-color: unset;
  /* justify-content: space-between; */
}
.input2 .prio div div {
  width: 100%;
  max-width: 150px;
}

.submitSection {
  position: unset;
  left: unset;
  bottom: unset;

  width: 100%;

  display: flex;
  justify-content: space-between;
}

.buttons {
  padding: 0;
}

/* show big task pop up */
.big-task-pop-up-bg {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  z-index: 10;

  background-color: rgba(0, 0, 0, 0.5);

  transition: 0.5s;
}

.big-task-pop-up {
  box-sizing: border-box;

  width: 525px;

  background-color: white;
  box-shadow: 0px 0px 4px 0px #00000029;

  border-radius: 30px;

  padding: 45px 40px;

  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  transition: 0.5s ease-in-out;
}

#big-task-pop-up-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 10px;
}

#big-task-pop-up-category {
  background: #0038ff;
  color: white;

  font-size: 23px;
  font-weight: 400;

  padding: 5px 24px 4px 24px;
  gap: 10px;
  border-radius: 8px;

  width: max-content;
}

#big-task-pop-up-close-icon path {
  fill: #2a3647;
}

#big-task-pop-up-close-icon {
  padding: 8px;
  border-radius: 100%;
  box-sizing: unset;
  cursor: pointer;
}

#big-task-pop-up-close-icon:hover {
  background-color: #d9d9d9;
}

#big-task-pop-up-title h1 {
  font-size: 61px;
  font-weight: 700;
  line-height: 73.2px;

  padding: 0;

  margin: 0;
}

#big-task-pop-up-description {
  font-size: 20px;
  font-weight: 400;

  word-break: break-all;

  padding: 10px 0;
}

.big-task-pop-up-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 230px;
}

.big-task-pop-up-label-text {
  font-size: 20px;
  font-weight: 400;
  color: #2a3647;

  margin: 10px 0;
}

.big-task-pop-up-value-text {
  font-size: 20px;
  font-weight: 400;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 10px;

  margin: 0;
}

#big-task-pop-up-priority-text::first-letter {
  text-transform: uppercase;
}

.big-task-pop-up-value-text div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#big-task-pop-up-contact-all {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
}

#big-task-pop-up-contact-container {
  padding-left: 15px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;

  gap: 20px;
}

.big-task-pop-up-contact {
  display: flex;
  align-items: center;
  gap: 16px;
}

.big-task-pop-up-profile-badge {
  background: #462f8a;
  border: 2px solid #ffffff;
  color: white;

  border-radius: 100%;

  width: 42px;
  height: 42px;

  font-size: 12px;
  font-weight: 400;

  display: flex;
  justify-content: center;
  align-items: center;
}

.big-task-pop-up-profile-name {
  font-family: "Open Sans";
  font-size: 19px;
  font-weight: 400;

  margin: 0;
}

#big-task-pop-up-subtasks-container {
  padding-left: 15px;

  display: flex;
  flex-direction: column;

  gap: 10px;
}

.big-task-pop-up-subtasks {
  display: flex;
  align-items: center;

  gap: 16px;
}

.big-task-pop-up-subtasks p {
  font-size: 16px;
  font-weight: 400;

  margin: 0;
}

.big-task-pop-up-subtask-checkbox-icon path,
.big-task-pop-up-subtask-checkbox-icon rect {
  stroke: #2a3647;
}

#big-task-pop-up-bottom-buttons-container {
  display: flex;
  justify-content: end;
  align-items: center;

  gap: 10px;

  padding-top: 15px;
}

.big-task-pop-up-stroke {
  width: 1px;
  height: 24px;

  border-radius: 10px;

  background-color: #d1d1d1;
}

#big-task-pop-up-edit-button,
#big-task-pop-up-delete-button {
  display: flex;
  align-items: center;

  gap: 8px;

  padding: 10px;

  transition: 0.1s;
}

#big-task-pop-up-edit-button path,
#big-task-pop-up-delete-button path {
  transition: 0.1s;
}

#big-task-pop-up-edit-button:hover,
#big-task-pop-up-delete-button:hover {
  color: #29abe2;

  cursor: pointer;

  font-weight: 900;
}

#big-task-pop-up-edit-button:hover path,
#big-task-pop-up-delete-button:hover path {
  fill: #29abe2;
}

.big-edit-task-section-headline {
  font-size: 20px;
  font-weight: 400;

  margin-bottom: 10px;

  color: #2a3647;
}

body .big-edit-task-pop-up-section-container {
  display: flex;
  flex-direction: column;
  align-items: start;

  width: 100%;

  padding-bottom: 15px;
}

#big-edit-task-subtask-input,
#big-edit-task-due-date-input,
#big-edit-task-assigned-to-input,
#big-edit-task-description-input,
#big-edit-task-title-input {
  border-radius: 10px;

  background: #ffffff;

  border: 1px solid #d1d1d1;

  width: 100%;

  font-size: 20px;
  font-weight: 400;

  outline: none;
}

#big-edit-task-subtask-input:focus,
#big-edit-task-due-date-input:focus,
#big-edit-task-description-input:focus,
#big-edit-task-assigned-to-input:focus,
#big-edit-task-title-input:focus {
  border: 1px solid #29abe2;
}

#big-edit-task-subtask-input::placeholder,
#big-edit-task-due-date-input::placeholder,
#big-edit-task-description-input::placeholder,
#big-edit-task-assigned-to-input::placeholder,
#big-edit-task-title-input::placeholder {
  font-size: 20px;
  font-weight: 400;
  color: #d1d1d1;
}

#big-edit-task-title-input {
  padding: 12px 21px;
}

#big-edit-task-description-input {
  padding: 18px 16px;

  max-width: 100%;
  min-width: 100%;

  max-height: 300px;
  min-height: 100px;
  height: 170px;

  font-size: 21px;
  font-weight: 400;

  font-family: "Open sans", "Inter", sans-serif;
}

#big-edit-task-assigned-to-input {
  padding: 12px 16px;
}

#big-edit-task-due-date-input {
  padding: 12px 16px;
}

#big-edit-task-subtask-input {
  padding: 12px 16px;
}

#big-edit-task-priority-section-headline {
  font-size: 19px;
  font-weight: 700;

  color: #42526e;
}

#big-edit-task-priority-container {
  display: flex;
  justify-content: space-between;

  gap: 16px;

  width: 100%;
}

.big-edit-task-priority-item {
  box-shadow: 0px 0px 4px 0px #0000001a;

  width: 100%;

  padding: 16px 10px;
  border-radius: 10px;

  background: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 20px;
  font-weight: 400;
}

#big-task-pop-up-priority-container + #big-task-pop-up-contact-all {
  padding-bottom: 15px;
}

#big-edit-task-pop-up-save-button {
  background: #2a3647;

  padding: 16px;
  gap: 4px;
  border-radius: 10px;

  font-size: 21px;
  font-weight: 700;

  color: white;

  cursor: pointer;
}

@media (max-width: 1000px) {
  main {
    box-sizing: unset;
    font-size: 13px;
    padding: 0;
    padding-top: 120px;
    height: calc(100vh - 175px);
  }

  #all-sections-container {
    margin: 0 auto;
    flex-direction: column;
    width: 80%;
    gap: 100px;
  }

  .add-task-pop-up {
    width: 80%;
    min-width: 600px;
  }

  .wrap-container {
    overflow-x: scroll;
  }

  .wrap-container::-webkit-scrollbar {
    display: none;
  }

  .section-headline {
    justify-content: center;
    gap: 16px;
  }

  #to-do-container,
  #await-feedback-container,
  #in-progress-container,
  #done-container {
    /* padding: 16px; */
    border-radius: 8px;

    display: flex;
    flex-direction: unset;
    gap: 16px;

    /* border: 2px solid black; */
  }

  .task {
    min-width: 300px;
    margin: 16px;
  }

  #wrap {
    overflow: unset;
  }

  body {
    overflow: unset;
  }

  #main-headline {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
}

@media (max-width: 700px) {
  .headline-button {
    display: flex;
    justify-content: space-between;
    /* margin: 0 auto; */
    width: 82%;
  }

  #add-task-button-mobile {
    display: flex;
  }

  #add-task-button {
    display: none;
  }

  #search-container {
    width: 100%;
  }

  #search-input-container {
    width: 80%;
  }
}
