@media (max-width: 1000px) {
    main {
      box-sizing: unset;
      font-size: 16px;
      padding: 0;
      padding-bottom: 100px;
      padding-top: 120px;
      height: 100%;
    }

    h1 {
        font-size: 47px !important;
    }
  
    .task-contacts-container {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  
    #all-sections-container {
      margin: 0 auto;
      flex-direction: column;
      width: 80%;
      gap: unset;
    }
  
    .add-task-pop-up {
      width: 80%;
      min-width: 550px;
    }
  
    .wrap-container {
      overflow-x: scroll;
    }
  
    .wrap-container::-webkit-scrollbar {
      width: 100px;
    }
  
    .wrap-container {
      overflow-x: scroll;
    }
  
    .wrap-container::-webkit-scrollbar {
      width: 16px;
      height: 16px;
    }
  
    .wrap-container::-webkit-scrollbar-thumb {
      background: linear-gradient(90deg, #d3cece, #d3cece);
      border-radius: 10px;
      border: 3px solid #918b8b;
    }
  
    .wrap-container::-webkit-scrollbar-thumb:hover {
      background: linear-gradient(90deg, #252524, #2e2c2b);
    }
  
    .wrap-container::-webkit-scrollbar-corner {
      background: #838181;
    }
  
    .wrap-container::-webkit-scrollbar-button:hover {
      background: #aaa;
    }
  
    .section-headline {
      gap: 16px;
    }
  
    #to-do-container,
    #await-feedback-container,
    #in-progress-container,
    #done-container {
      border-radius: 8px;
      display: flex;
      flex-direction: unset;
      gap: 16px;
    }
  
    .task {
      min-width: 252px;
      height: 263px;
      margin-right: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    #wrap {
      overflow: unset;
    }
  
    body {
      overflow: unset;
    }
  
    #main-headline {
      flex-direction: column;
      align-items: center;
      gap: 16px;
    }
  
    .headline-button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 82%;
    }
  
    #add-task-button-mobile {
      display: flex;
      padding: 5px 10px;
      max-height: 40px;
      min-height: 40px;
    }
  
    #add-task-button {
      display: none;
    }
  
    #search-container {
      width: 100%;
    }
  
    #search-input-container {
      width: 80%;
    }

    .plus-icon-container {
        width: 30px;
        height: 30px;
    }

    .section-headline h2 {
        font-size: 27px;
    }
}

@media (max-width: 600px) {
    .task {
        width: 252px;
    }
    .big-task-pop-up {
        width: 90%;
        height: 95vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    #big-task-pop-up-description,
    .big-task-pop-up-info-container,
    .big-task-pop-up-label-text,
    .big-task-pop-up-value-text,
    .big-task-pop-up-profile-name,
    #big-task-pop-up-contact-all,
    #big-task-pop-up-edit-button,
    #big-task-pop-up-delete-button,
    #big-task-pop-up-subtask-all {
        font-size: 16px;
    }
}