body {
  overflow: hidden;
}

body .d-none {
  display: none;
}

#wrap {
  overflow: hidden;
  position: relative;
}

main {
  box-sizing: border-box;

  padding-left: 232px;

  width: 100%;
  height: calc(100vh - 96px);

  display: flex;
}

#headerForm {
  z-index: 1;
}

/* contact list container */
#contact-list-container {
  min-width: 352px;

  height: calc(100vh - 192px);

  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 32px 48px 64px 48px;

  box-shadow: 4px 0px 6px 0px #00000014;

  overflow-y: scroll;
  overflow-x: hidden;
}

/* Styling für Webkit-basierte Browser (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Breite der Scrollbar */
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0); /* Hintergrund des Scrollbar-Tracks */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.4); /* Dezente graue Farbe mit Transparenz */
  border-radius: 100px; /* Abgerundete Ecken des Scrollbar-Thumbs */
  border: 2px solid rgba(255, 255, 255, 0); /* Optional: Rand für besseren Kontrast */
}

#contact-list-container:hover::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.7); /* Dezente graue Farbe mit Transparenz */
  border-radius: 100px; /* Abgerundete Ecken des Scrollbar-Thumbs */
  border: 2px solid rgba(255, 255, 255, 0); /* Optional: Rand für besseren Kontrast */
}

#add-new-contacts-button {
  width: 100%;
  height: 56px;

  padding: 12px 0px 12px 0px;

  border-radius: 10px;

  border: 1px solid #2a3647;

  background: #2a3647;

  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 16px;

  font-size: 21px;
  font-weight: 700;

  box-shadow: 0px 0px 0px 0px #00000040;

  transition: 0.2s ease-in-out;

  cursor: pointer;
}

#add-new-contacts-button:hover {
  background-color: #29abe2;
  border: 1px solid #29abe2;

  box-shadow: 0px 4px 4px 0px #00000040;
}

#add-new-contacts-button img {
  width: 32px;
  height: 32px;
}

#add-new-contacts-mobile-button {
  display: none;
}

.show-icon-container-button-translate-100 {
  transform: translateX(200%);
}

#contact-list {
  min-height: 1.188px;
}

.contact-container:last-child {
  padding-bottom: 20px;
}

.letter {
  width: 100%;
  height: 50px;

  padding: 0 36px 0 36px;
  margin: 25px 0 16px 0;

  box-sizing: border-box;

  border-bottom: 1px solid #d1d1d1;

  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.contact {
  box-sizing: border-box;

  min-width: 352px;
  padding: 15px 24px 15px 24px;
  gap: 35px;
  border-radius: 10px;

  display: flex;
  align-items: center;

  cursor: pointer;
}

.contact:hover {
  background: linear-gradient(180deg, #f9f9f9 0%, #f0f0f0 100%);
}

/* add this class on click */
.contact-aktiv {
  background: #2a3647;
}

.contact-aktiv:hover .name,
.contact-aktiv .name {
  color: white;
}

.contact-aktiv:hover {
  background: #2a3647;
}

.profile-badge {
  min-width: 42px;
  min-height: 42px;

  border: 2px solid #ffffff;

  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 100%;

  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  text-align: center;
}

.name-and-email-container {
  min-width: 160px;

  display: flex;
  flex-direction: column;

  gap: 5px;
}

.name,
.email {
  margin: 0;

  word-break: break-all;
}

.name {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.email {
  color: #007cee;

  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
}

/* right site container */
#right-site-container {
  width: 100%;

  padding: 50px 0 0 60px;

  background-color: #f9f9f9;

  transition: transform 0.3s ease-in-out;
}

.right-site-container-translate-100 {
  transform: translateX(0%);
}

#contact-headline {
  display: flex;
  align-items: center;
}

#contact-headline-h1-container {
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-right: 20px;
}

#contact-headline h1 {
  font-size: 61px;
  font-weight: 700;
}

#big-contact-arrow {
  display: none;

  fill: #29abe2;

  cursor: pointer;

  transition: 0.1s;
}

#big-contact-arrow:hover {
  transform: scale(1.2);
}

.line {
  height: 60px;
  width: 3px;
  border-radius: 10px;
  background-color: #29abe2;

  margin: 0 25px;
}

.mobile-line {
  height: 3px;
  width: 90px;
  border-radius: 10px;
  background-color: #29abe2;

  margin-bottom: 40px;

  display: none;
}

#contact-headline p {
  font-size: 27px;
  font-weight: 400;
}

/* contact info container */
#big-contact {
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 21px;

  transition: 0.3s ease-in-out;
}

.hide-big-contact {
  transform: translateX(100%);
}

#big-profile-badge {
  min-width: 120px;
  min-height: 120px;

  max-width: 120px;
  max-height: 120px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 100%;

  background: #ff7a00;

  font-size: 47px;
  font-weight: 500;
  line-height: 56.4px;

  color: white;

  box-shadow: 0px 0px 4px 0px #0000001a;

  border: 3px solid #ffffff;
}

#profile-badge-and-name-container {
  width: 100%;
  gap: 54px;

  display: flex;
  align-items: center;
}

#big-name-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

#big-name {
  font-size: 47px;
  font-weight: 500;
  line-height: 56.4px;
  text-align: left;

  margin: 0;
}

.icon-container {
  display: flex;
  gap: 30px;
}

#show-icon-container-button-icon {
  display: none;
}

#edit-contact,
#delete-contact {
  display: flex;

  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;

  gap: 13px;

  padding: 5px 15px;

  cursor: pointer;
}

#edit-contact p,
#delete-contact p {
  margin: 0;

  transition: 0.2s;
}

#edit-icon,
#delete-icon {
  height: 18px;
  width: 18px;

  transition: 0.2s;
}

#edit-contact:hover #edit-icon,
#delete-contact:hover #delete-icon {
  fill: #29abe2;
}

#edit-contact:hover p,
#delete-contact:hover p {
  color: #29abe2;
}

#contact-information-headline {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

#big-email {
  color: #007cee;
}

#big-number {
  text-align: left;
}

/* pop-up */

.add-task-pop-up-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.3);

  z-index: 10;

  transition: 0.2s ease-in-out 0s;
}

.add-task-pop-up {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 95%;
  max-width: 1300px;

  height: 600px;

  border-radius: 30px;

  background-color: white;

  transform: translate(-50%, -50%);

  display: flex;

  transition: 0.5s ease-in-out, opacity 0s;
}

#close-add-task-pop-up {
  position: absolute;
  top: 50px;
  right: 50px;

  height: 15px;

  padding: 8px;

  border-radius: 100%;

  cursor: pointer;
}

#close-add-task-pop-up:hover {
  background: #d9d9d9;
}

body .bg-op-0 {
  background-color: #00000000;
  z-index: -1;

  transition: 0.2s ease-in-out 0.3s;
}

body .translate-100 {
  transform: translate(100%, -50%);
  opacity: 0;
  transition: 0.5s ease-in-out, opacity 0s 0.5s;
}

#pop-up-left-container {
  box-sizing: border-box;

  background: #2a3647;

  flex: 1;
  min-width: 425px;
  min-height: 100%;

  padding: 66px 0px 150px 40px;

  display: flex;
  justify-content: center;
  flex-direction: column;

  border-radius: 30px 0 0 30px;

  color: white;
}

#pop-up-logo {
  width: 60px;
  height: 70px;
}

#pop-up-headline {
  font-size: 61px;
  font-weight: 700;
  line-height: 73.2px;
  text-align: left;

  margin: 15px 0;
}

#pop-up-comment {
  font-size: 27px;
  font-weight: 400;
  line-height: 32.4px;
  text-align: left;

  margin: 0;
}

#pop-up-small-line {
  border-radius: 10px;

  background-color: #29abe2;

  margin: 15px 0;

  height: 3px;
  width: 100px;
}

/* pop-up-content */
#pop-up-content {
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 2;
}

#pop-up-contact-logo-container {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

#pop-up-contact-logo {
  width: 120px;
  height: 120px;

  border-radius: 100%;

  background: #d1d1d1;
  border: 3px solid #ffffff;
  box-shadow: 0px 0px 4px 0px #0000001a;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 47px;
  font-weight: 500;
  line-height: 56.4px;
  text-align: center;
  color: white;
}

#pop-up-inputs-container form,
#pop-up-inputs-container {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  gap: 32px;

  flex: 2;

  padding-right: 20px;
}

.pop-up-input {
  width: 100%;
  max-width: 430px;

  padding: 18px 24px 15px 24px;

  box-sizing: border-box;

  border: 1px solid #d1d1d1;

  border-radius: 10px;

  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;

  outline: none;
}

.pop-up-input::placeholder {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;

  color: #d1d1d1;
}

.pop-up-input:focus,
.pop-up-input:active {
  border: 1px solid #29abe2;
}

.pop-up-input-container {
  position: relative;

  width: 100%;
  max-width: 430px;
}

.pop-up-input-svg {
  width: 20px;
  height: 20px;

  position: absolute;
  top: 50%;
  right: 20px;

  transform: translateY(-50%);
}

.pop-up-input-svg path {
  fill: #a8a8a8;
}

#pop-up-buttons-container {
  display: flex;
  gap: 20px;
}

#pop-up-create-contact-button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 15px 22px;

  gap: 10px;
  border-radius: 10px;

  font-size: 21px;
  font-weight: 700;
  line-height: 25.2px;
  text-align: left;

  background: #2a3647;
  border: 1px solid #2a3647;

  color: #ffffff;

  cursor: pointer;

  transition: 0.2s;
}

#pop-up-create-contact-button:hover {
  background-color: #29abe2;
  border: 1px solid #29abe2;

  box-shadow: 0px 4px 4px 0px #00000040;
}

#pop-up-create-contact-button svg {
  height: 16px;
}

#pop-up-cancel-button {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 10px;

  border-radius: 10px;

  padding: 15px 22px;

  border: 2px solid #2a3647;

  color: #2a3647;

  background-color: rgba(255, 255, 255, 0);

  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;

  cursor: pointer;

  transition: 0.2s;
}

#pop-up-cancel-button:hover {
  border: 2px solid #29abe2;
  box-shadow: 0px 4px 4px 0px #00000040;

  color: #29abe2;
}

.pop-up-cancel-button-svg path {
  fill: #2a3647;
}

#pop-up-cancel-button:hover .pop-up-cancel-button-svg path {
  fill: #29abe2;
}

/* contact-successfully-created-pop-up */

#contact-successfully-created-pop-up-bg {
  width: 100%;

  transition: 0.5s ease-in-out;
}

#contact-successfully-created-pop-up {
  background: #2a3647;
  box-shadow: 0px 0px 4px 0px #00000026;

  border-radius: 20px;

  padding: 25px 30px;

  margin-top: 100px;

  width: max-content;

  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;

  color: #ffffff;
}

.hide-pop-up-translate-100 {
  transform: translateX(100%);
}

/* load-screen */
#load-screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.5);

  z-index: 999;
}

/* animation */

@keyframes color-change {
  0% {
    background-color: #2a3647; /* Anfangsfarbe (hier die ursprüngliche Farbe) */
  }
  20% {
    background-color: #29abe2; /* Farbe nach 50% der Animation */
  }
  80% {
    background-color: #29abe2; /* Farbe nach 50% der Animation */
  }
  100% {
    background-color: #2a3647; /* Zurück zur ursprünglichen Farbe am Ende der Animation */
  }
}

/* media */

@media (max-width: 1350px) {
  #contact-headline {
    flex-direction: column;
    align-items: start;
  }

  .line {
    display: none;
  }

  .mobile-line {
    display: block;
  }

  #contact-headline h1 {
    margin: 0;
  }

  #contact-headline p {
    margin: 15px 0;
  }

  #contact-list-container {
    padding: 32px 20px 64px 20px;
  }

  #right-site-container {
    padding: 50px 0 0 30px;
  }

  #profile-badge-and-name-container {
    gap: 30px;
  }

  .icon-container {
    flex-direction: column;
    gap: 10px;
  }

  #big-name {
    font-size: 40px;
  }
}

@media (max-width: 1000px) {
  main {
    box-sizing: unset;

    padding-left: 0;
    padding-top: 96px;

    height: calc(100vh - 175px);
  }

  #contact-list-container {
    min-width: unset;
  }

  .contact {
    min-width: unset;
  }

  .name-and-email-container {
    min-width: unset;
  }

  #right-site-container {
    box-sizing: border-box;
    position: absolute;

    height: calc(100vh - 175px);

    padding: 30px 0 0 30px;

    z-index: 0;
  }

  .right-site-container-translate-100 {
    transform: translateX(100%);
  }

  #contact-list-container {
    width: 100%;
    padding: 10px 50px 8px 50px;
  }

  #add-new-contacts-button {
    display: none;
  }

  #contact-list {
    width: 100%;
  }

  /* big-contact */

  #big-contact {
    gap: 5px;

    height: 100%;
  }

  #big-name {
    font-size: 36px;
    font-weight: 700;
    line-height: 43.2px;
    text-align: left;
  }

  .icon-container {
    position: absolute;

    bottom: -10px;
    right: 0;

    justify-content: space-around;
    flex-direction: column;

    gap: 0;

    width: 116px;
    height: 100px;

    padding: 10px;

    border-radius: 20px 20px 0px 20px;

    background: #ffffff;
    box-shadow: 0px 4px 4px 0px #00000040;

    transition: transform 0.5s ease-in-out;
  }

  .icon-container-translate-100 {
    transform: translateX(200%);
  }

  .animation {
    animation: color-change 2s ease 0.5s;
  }

  #show-icon-container-button-icon {
    display: block;
  }

  #contact-headline-h1-container {
    width: 100%;
  }

  #contact-information-headline {
    margin: 20px 0;
  }

  #big-contact-arrow {
    display: block;
  }

  #profile-badge-and-name-container {
    gap: 15px;

    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }

  #big-profile-badge {
    min-height: 80px;
    min-width: 80px;

    font-size: 27px;
    font-weight: 400;
    line-height: 32.4px;
    text-align: center;
  }

  .mobile-button {
    height: 60px;
    width: 60px;

    background: #2a3647;
    box-shadow: 0px 4px 4px 0px #00000040;

    border: none;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.2s;

    position: fixed;
    right: 30px;
    bottom: 110px;

    cursor: pointer;

    z-index: 1;
  }

  .mobile-button:hover {
    background: #29abe2;
  }

  #add-new-contacts-mobile-button {
    display: flex;
  }

  /* pop-up */
  .add-task-pop-up {
    flex-direction: column;

    height: calc(100vh - 175px);

    min-height: 600px;
  }

  #pop-up-left-container {
    min-height: 40%;
    min-width: unset;

    border-radius: 30px 30px 0 0;

    padding: 0;
    padding-left: 5%;
  }

  #pop-up-logo {
    display: none;
  }

  #pop-up-headline {
    font-size: 47px;
    font-weight: 700;
    line-height: 56.4px;
    text-align: left;
  }

  #pop-up-comment {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }

  #pop-up-content {
    flex-direction: column;

    position: relative;
  }

  #pop-up-contact-logo-container {
    position: absolute;
    top: 0;

    transform: translateY(-50%);
  }

  #pop-up-inputs-container {
    padding: 0;
    padding-top: 80px;

    width: 100%;
  }

  #pop-up-inputs-container form {
    padding: 0 20px;
    width: 100%;

    gap: 16px;

    align-items: center;
  }

  .pop-up-input-container {
    max-width: 500px;
  }

  .pop-up-input {
    max-width: 500px;

    padding: 10px 45px 10px 10px;
  }

  #pop-up-create-contact-button {
    padding: 15px 10px;

    margin-top: 10px;
  }

  #pop-up-cancel-button {
    display: none;
  }

  #close-add-task-pop-up path {
    fill: white;
  }

  #close-add-task-pop-up {
    height: 15px;
    width: 15px;

    top: 20px;
    right: 20px;
  }

  #close-add-task-pop-up:hover {
    background-color: unset;
  }

  body .translate-100 {
    transform: translate(-50%, 100%);
  }

  #edit-contact,
  #delete-contact {
    border-radius: 10px;
    align-items: center;

    padding: 8px;
    padding-left: 15px;
  }

  #edit-contact:hover,
  #delete-contact:hover {
    background-color: #eeeeee;
  }
}

@media (max-width: 600px) {
  #contact-headline h1 {
    margin: 0;

    font-size: 47px;
    font-weight: 700;
  }

  #contact-headline p {
    font-size: 20px;
    font-weight: 400;
  }
}

@media (max-width: 500px) {
  #contact-list-container {
    padding: 10px 15px 8px 15px;
  }

  .contact {
    gap: 15px;

    padding: 15px 5px;
  }
}

@media (max-height: 700px) {
  #right-site-container {
    padding: 10px 0 0 30px;
  }

  .mobile-line {
    margin-bottom: 20px;
  }

  #contact-information-headline {
    margin: 10px 0;
  }
}
