.sidebar {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: rgba(42, 54, 71, 1);
    height: 100%;
    width: 232px;
}

.menuBarDesktop {
    width: 232px;
    padding-bottom: 150px;
    top: 300px;
}

.menuBarDesktop a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.sidebar img {
    display: flex;
    width: 100.03px;
    height: 121.97px;
    padding-top: 64px;
}

.linkTo img {
    padding: 0px;
    width: 30px;
    height: 30px;
}

footer {
    background-color: rgba(42, 54, 71, 1);
    padding-bottom: 64px;
}

footer a:hover {
    text-decoration: none;
}

.linkTo {
    height: 46px;
    padding: 8px 56px 8px 56px;
    gap: 8px;
    background-color: rgba(42, 54, 71, 1);
    /* background: rgba(9, 25, 49, 1); */
    display: flex;
    align-items: center;
}

.linkTo p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.linkTo:hover {
    cursor: pointer;
    background: rgba(42, 61, 89, 1);
    animation-timing-function: ease-in;
    animation-duration: 100ms;
}

.linkTo:active {
    background-color: rgba(42, 54, 71, 1);
}

body.menuBarDesktop {
    background-color: rgba(42, 54, 71, 1);
    pointer-events: none;
}