main {
  box-sizing: border-box;

  padding: 130px 100px 20px 300px;

  width: 100%;
  height: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  background-color: #f9f9f9;
}

#main-header {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

ul {
  padding: 0;
}

#arrow-icon {
  height: 22px;
  width: 22px;

  fill: #29abe2;

  position: fixed;

  top: 200px;
  right: 50px;

  margin-bottom: 10px;

  transition: 0.1s;

  cursor: pointer;

  border-radius: 100%;
  padding: 5px;

  background-color: #f9f9f9;
}

#arrow-icon:hover {
  transform: scale(1.3);

  background-color: #e4e4e4;
}

main h1 {
  font-size: 61px;
  font-weight: 700;
  line-height: 73.2px;
  text-align: left;

  margin-bottom: 10px;
}

main h2 {
  font-size: 27px;
  font-weight: 700;
  line-height: 32.4px;
  text-align: left;
}

main h3 {
  margin: 0;

  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

main .small-section h3 {
  margin-top: 20px;
}

main p {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
}

ol {
  list-style: none;
  counter-reset: item;

  padding-top: 10px;
  padding-bottom: 10px;
}

ol li {
  display: flex;

  counter-increment: item;
  margin-bottom: 5px;
}

ol li:before {
  content: counter(item) ".";

  padding-right: 30px;

  font-size: 27px;
  font-weight: 700;
}

main .small-section p,
main li p {
  margin-top: 0;
}

.blue-color {
  color: #29abe2;
}

body #headerForm {
  position: fixed;

  padding: 0 30px;

  left: 232px;
}

body .sidebar {
  position: fixed;
}

.subnumberedList {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
}

ul {
  padding: 0;
}

li {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1000px) {
  .break-word {
    word-break: break-all;
  }

  main {
    padding: 130px 30px 100px 30px;
  }

  main h1 {
    font-size: 47px;
  }

  body #headerForm {
    left: 0;
  }

  #arrow-icon {
    top: 150px;
  }
  .sidebarEmpty {
    display: none;
  }
}

@media (max-width: 400px) {
  main {
    padding: 130px 20px 20px 20px;
  }

  main h1 {
    font-size: 40px;
  }

  #arrow-icon {
    right: 30px;
  }
}

@media (max-height: 800px) {
  #arrow-icon {
    top: 150px;
  }
}
