body {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    min-height: 100vh;
    background-color: #F6F7F8;
    font-family: "Inter", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #F6F7F8;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 16px;
}

h1 {
    font-family: 'Open Sans';
    margin: 0px;
    /* width: 315px; */
    height: 73px;
    display: flex;
    justify-content: center;
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
    border-bottom: 3px solid #29ABE2;
    gap: 16px;
    padding-bottom: 16px;
    /* rotate: -90deg; */
}

.loginFrame{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 1;
    background-color: #F6F7F8;
}

.login{
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    padding: 24px;
    margin: 24px;
    gap: 32px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);

}

.loginInput {
    display: flex;
    flex-direction: column;
}

.loginInputStyle input {
    height: 48px;
    gap: 20px;
}

.loginInputStyle{
    padding: 16px 21px 12px 21px;
    border-radius: 10px;
    width: 100%;
    border: 0px;
    border: none;
    outline: none;
}

.input {
    margin-bottom: 20px;
    height: 48px;
    border-radius: 10px;
    border-width: 1px;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.loginInput img {
    width: 24px;
    height: 24px;
    padding: 12px;
}

.loginButtons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 35px;
    margin-top: 32px;
}
.loginButtons button {
    /* border: 1px solid #2A3647; */
    font-weight: bold;
    border-radius: 8px;
    gap: 10px;
    padding: 15px 24px 15px 24px;
}

.loginButtons button:hover {
    cursor: pointer;
}

#logoKlein {
    height: 98px;
}

#msgbox{
    color: red;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
}

.darkBtn {
    font-weight: bold;
    background-color: #2A3647;
    width: 91px;
    height: 49px;
    border-radius: 8px;
    border: none;
    padding: 15px 16px 15px 16px;
    gap: 10px;
    color: #FFFFFF;
    cursor: pointer;
}

.darkBtn:hover{
    background-color: rgba(41, 171, 226, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.brightBtn {
    border: 1px solid rgba(42, 54, 71, 1)
}

.brightBtn:hover{
    border: 2px solid rgba(41, 171, 226, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: rgba(41, 171, 226, 1);
}

.notification {
    display: flex;
    justify-content: center;
}

.notification p {
    color: red;
    font-size: 12px;
}

.input img {
    cursor: pointer;
}

.signUp {
    width: 279px;
    height: 49px;
    gap: 35px;
    display: flex;
    align-items: center;
}

.signUp p {
    width: 153px;
    height: 24px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
}

.checkbox input {
    width: 24px;
    height: 24px;
    border-radius: 3px;
    cursor: pointer;
}

.checkbox label {
    height: 19px;
    width: 110px;
    font: optional;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
}

.privacyPolicity label{
    width: 300px;
}

header h1{
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

header img:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    padding: 8px;
    gap: 8px;
    color: rgba(41, 171, 226, 1);
}

a:hover {
    color: rgba(41, 171, 266, 1);
    font-weight: 400;
    text-decoration: underline;
}

footer {
    display: flex;
    justify-content: center;
    padding: 16px;
    background: rgba(246, 247, 248, 1);
}

footer div {
    width: 100%;
    height: 35px;
    gap: 16px;
    opacity: 0px;
    display: flex;
    justify-content: center;
    color: rgba(168, 168, 168, 1);
}

footer a {
    color: rgba(168, 168, 168, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
}

footer a:hover {
    font-weight: bold;
    text-decoration: none;
}

.d-none {
    display: none;
}

.red-border {
    border-color: red;
}

@media(min-height: 800px){
    footer {
        position: fixed;
        right: 0;
        left: 0;
        bottom: 0;
    }
}