.login {
    position: absolute;
    height: 630px;
}

.loginInput {
    height: 286px;
}

.checkbox {
    justify-content: center;
}

.checkbox label {
    width: 231px;
}

.darkBtn {
    width: 126px;
    height: 55px;
    padding: 15px 24px 15px 24px;
}

.arrowLeft {
    position: absolute;
    top: 32px;
    left: 32px;
    width: 32px;
    height: 32px;
}

.arrowLeft:hover {
    cursor: pointer;
}

a {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
}

@media (max-width:900px){
    .login {
        width: 80vw;
    }
}

@media (max-width:700px) {
    .login {
        width: 55vw;
    }
}