body {
  background: rgba(246, 247, 248, 1);

  margin: 0;
  overflow-y: hidden;
}

body p {
  color: rgba(42, 54, 71, 1);
}

.summaryHead .borderLine {
  background-color: rgba(41, 171, 226, 1);
  width: 4px;
  height: 50%;

  margin: 0 30px;

  border-radius: 50px;
}

.mobile-line {
  background-color: rgba(41, 171, 226, 1);
  height: 3px;
  width: 90px;

  border-radius: 50px;

  display: none;

  margin: 10px 0 40px 0;
}

.mainSection {
  box-sizing: border-box;

  padding: 30px 108px 100px 340px;

  width: 100%;
  height: calc(100vh - 96px);

  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.summaryHead {
  width: 100%;

  display: flex;
  align-items: center;
}

.summaryHead h1 {
  font-size: 61px;
  font-weight: 700;
  line-height: 73.2px;
}

.summaryHead p {
  font-size: 27px;
  font-weight: 400;
  line-height: 32.4px;

  color: rgba(42, 54, 71, 1);
}

.mainCont {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
}

.greet-username {
  color: #29abe2;

  font-size: 64px;
  font-weight: 700;

  display: block;
}

.dataCont {
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-direction: column;

  gap: 28px;

  flex: 1;

  height: 100%;
}

.dataCont-circle {
  width: 60px;
  height: 60px;

  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.1s ease-out;
}

.to-do-circle {
  background-color: #2a3647;
}

.box1:hover .to-do-circle {
  background-color: white;
}

.to-do-circle svg path {
  transition: 0.1s ease-out;
}

.box1:hover .to-do-circle svg path {
  fill: #2a3647;
  /* stroke: #2a3647; */
}

.done-circle {
  background-color: #2a3647;
}

.box1:hover .done-circle {
  background-color: white;
}

.done-circle svg path {
  transition: 0.1s ease-out;
}

.box1:hover .done-circle svg path {
  stroke: #2a3647;
}

.urgent-circle {
  background-color: #ff3d00;
}

.urgent-circle svg {
  margin-top: -4px;
}

.mobile-icon {
  display: none;
}

.box1 {
  flex: 1;

  gap: 18px;
  border-radius: 30px;

  background: #ffffff;
  box-shadow: 0px 0px 4px 0px #0000001a;

  transition: 0.1s ease-out;

  text-align: center;

  cursor: pointer;

  padding: 10px;
}

.box1:hover {
  background-color: rgba(42, 54, 71, 1);
  color: rgba(255, 255, 255, 1);
  transform: scale(1.1);
  box-shadow: 0px 4px 4px 0px #00000040;

  .bigNumber {
    color: rgba(255, 255, 255, 1);
  }
}

.boxUrgent {
  width: 100%;
  height: 100%;

  flex: 1;

  border-radius: 30px;

  text-align: center;

  background: #ffffff;
  box-shadow: 0px 0px 4px 0px #0000001a;

  display: flex;
  justify-content: space-around;
  align-items: center;

  transition: 0.1s ease-out;

  cursor: pointer;

  padding: 10px 20px;
  box-sizing: border-box;

  gap: 10px;
}

.boxUrgent .borderLine {
  background-color: rgba(209, 209, 209, 1);
  width: 3px;
  height: 60%;

  border-radius: 50px;
}

.boxUrgent:hover {
  background-color: rgba(42, 54, 71, 1);
  color: rgba(255, 255, 255, 1);
  transform: scale(1.1);
  box-shadow: 0px 4px 4px 0px #00000040;

  .bigNumber {
    border-color: rgba(255, 255, 255, 1);
  }
  .date {
    color: rgba(255, 255, 255, 1);
  }
  p {
    color: rgba(255, 255, 255, 1);
  }
  .borderLine {
    border-color: rgba(255, 255, 255, 1);
  }
}

.box2 {
  border-radius: 30px;

  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #ffffff;
  box-shadow: 0px 0px 4px 0px #0000001a;

  transition: 0.1s ease-out;

  text-align: end;

  cursor: pointer;

  padding: 10px;
}

.box2:hover {
  background-color: rgba(42, 54, 71, 1);
  color: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 4px 0px #00000040;

  transform: scale(1.1);
}

.box2:hover .bigNumber {
  color: rgba(255, 255, 255, 1);
}

.moreBoxes {
  flex: 1;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-between;

  gap: 28px;
}

.greetHead {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  flex: 1;
}

.greetHead p {
  font-size: 47px;
  font-weight: 500;
  line-height: 56.4px;
  text-align: left;
  margin: 0px;
}

.greetHead h3 {
  font-family: Inter;
  font-size: 64px;
  font-weight: 700;
  line-height: 76.8px;
  text-align: left;
  color: rgba(41, 171, 226, 1);
  margin: 0px;
}

.contentFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.bigNumber {
  font-size: 64px;
  font-weight: 600;
  margin: 0;

  text-align: center;

  transition: 0.1s ease-out;
}

h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;

  margin: 0;
  color: #2a3647;

  text-align: center;

  transition: 0.1s ease-out;
}

.date-text {
  font-size: 21px;
  font-weight: 700;
  line-height: 25.2px;
  color: #2a3647;

  margin: 0;
}

.date-text + p {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;

  margin-bottom: 0;
}

.box1:hover h4,
.box2:hover h4,
.boxUrgent:hover h4 {
  color: white;
}

.greet-animation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: #f6f7f8;

  display: none;

  justify-content: center;
  align-items: center;
  text-align: center;

  opacity: 1; /* Initial opacity */
  transition: opacity 400ms ease-in; /* Transition effect for opacity */
}

.hide-greet-animation {
  opacity: 0; /* Target opacity for hide */
}

#greet-animation-text {
  color: #2a3647;

  font-size: 36px;
  font-weight: 400;
}

.greet-animation-username {
  color: #29abe2;

  font-size: 47px;
  font-weight: 700;
  line-height: 56.4px;
  text-align: left;

  display: block;
}

/* Styling für Webkit-basierte Browser (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px;
  /* Breite der Scrollbar */
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
  /* Hintergrund des Scrollbar-Tracks */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.4);
  /* Dezente graue Farbe mit Transparenz */
  border-radius: 100px;
  /* Abgerundete Ecken des Scrollbar-Thumbs */
  border: 2px solid rgba(255, 255, 255, 0);
  /* Optional: Rand für besseren Kontrast */
}

:hover::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.7);
  /* Dezente graue Farbe mit Transparenz */
  border-radius: 100px;
  /* Abgerundete Ecken des Scrollbar-Thumbs */
  border: 2px solid rgba(255, 255, 255, 0);
  /* Optional: Rand für besseren Kontrast */
}

@media (max-width: 1350px) {
  .greetHead {
    display: none;
  }

  .mainSection {
    padding: 30px 68px 100px 300px;
  }
}

@media (max-width: 1100px) {
  .mainSection {
    padding: 30px 58px 100px 290px;
  }
}

@media (max-width: 1000px) {
  .mainSection {
    margin-top: 96px;

    box-sizing: border-box;

    padding: 30px 50px 50px 50px;

    height: calc(100vh - 175px);
  }

  .summaryHead {
    flex-direction: column;
    align-items: flex-start;
  }

  .summaryHead h1 {
    margin: 0;

    font-size: 47px;
    font-weight: 700;
    line-height: 56.4px;
  }

  .summaryHead p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;

    margin: 0;
  }

  .mobile-line {
    display: block;
  }

  .summaryHead .borderLine {
    display: none;
  }

  .dataCont {
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-direction: column;

    gap: 20px;
  }

  .dataCont-circle {
    width: 40px;
    height: 40px;
  }

  .done-circle svg {
    width: 18px;
    height: 12px;
  }

  .urgent-circle svg {
    width: 22px;
    height: 16px;
    height: 16px;
  }

  body .to-do-circle .mobile-icon {
    display: block;
  }

  .to-do-circle svg {
    display: none;
  }

  .bigNumber {
    font-size: 47px;
    font-weight: 600;
  }

  h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
  }

  .date-text {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
  }

  .date-text + p {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
  }

  .greet-animation {
    display: flex;
  }
}

@media (max-width: 420px) {
  .mainSection {
    padding: 10px 20px 50px 20px;
  }

  .contentFlex {
    gap: 10px;
  }

  .moreBoxes {
    gap: 15px;
  }
}

@media (max-height: 740px) {
  .mainSection {
    padding-top: 10px;
  }

  .dataCont {
    gap: 10px;
  }

  .mobile-line {
    margin-top: 8px;
    margin-bottom: 18px;
  }
}
