@media (max-width: 1350px) {
    #contact-headline {
      flex-direction: column;
      align-items: start;
    }
  
    .line {
      display: none;
    }
  
    .mobile-line {
      display: block;
    }
  
    #contact-headline h1 {
      margin: 0;
    }
  
    #contact-headline p {
      margin: 15px 0;
    }
  
    #contact-list-container {
      padding: 32px 20px 64px 20px;
    }
  
    #right-site-container {
      padding: 50px 0 0 30px;
    }
  
    #profile-badge-and-name-container {
      gap: 30px;
    }
  
    .icon-container {
      flex-direction: column;
      gap: 10px;
    }
  
    #big-name {
      font-size: 40px;
    }
  }
  
  @media (max-width: 1000px) {
    main {
      box-sizing: unset;
      padding-left: 0;
      padding-top: 96px;
      height: calc(100vh - 175px);
    }
  
    #contact-list-container {
      min-width: unset;
    }
  
    .contact {
      min-width: unset;
    }
  
    .name-and-email-container {
      min-width: unset;
    }
  
    #right-site-container {
      box-sizing: border-box;
      position: absolute;
      height: calc(100vh - 175px);
      padding: 30px 0 0 30px;
      z-index: 0;
    }
  
    .right-site-container-translate-100 {
      transform: translateX(100%);
    }
  
    #contact-list-container {
      width: 100%;
      padding: 10px 50px 8px 50px;
    }

    #contact-three-dots-icon {
      display: flex;
    }
  
    #add-new-contacts-button {
      display: none;
    }
  
    #contact-list {
      width: 100%;
    }
  
    /* big-contact */
  
    #big-contact {
      gap: 5px;
      height: 100%;
    }
  
    #big-name {
      font-size: 36px;
      font-weight: 700;
      line-height: 43.2px;
      text-align: left;
    }
  
    .icon-container {
      position: absolute;
      bottom: -10px;
      right: 0;
      justify-content: space-around;
      flex-direction: column;
      gap: 0;
      width: 116px;
      height: 100px;
      padding: 10px;
      border-radius: 20px 20px 0px 20px;
      background: #ffffff;
      box-shadow: 0px 4px 4px 0px #00000040;
      transition: transform 0.5s ease-in-out;
    }
  
    .icon-container-translate-100 {
      transform: translateX(200%);
    }
  
    .animation {
      animation: color-change 2s ease 0.5s;
    }
  
    #show-icon-container-button-icon {
      display: block;
    }
  
    #contact-headline-h1-container {
      width: 100%;
    }
  
    #contact-information-headline {
      margin: 20px 0;
    }
  
    #big-contact-arrow {
      display: block;
    }
  
    #profile-badge-and-name-container {
      gap: 15px;
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
    }
  
    #big-profile-badge {
      min-height: 80px;
      min-width: 80px;
      font-size: 27px;
      font-weight: 400;
      line-height: 32.4px;
      text-align: center;
    }
  
    .mobile-button {
      height: 60px;
      width: 60px;
      background: #2a3647;
      box-shadow: 0px 4px 4px 0px #00000040;
      border: none;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.2s;
      position: fixed;
      right: 30px;
      bottom: 110px;
      cursor: pointer;
      z-index: 1;
    }
  
    .mobile-button:hover {
      background: #29abe2;
    }
  
    #add-new-contacts-mobile-button {
      display: flex;
    }
  
    /* pop-up */
    .add-task-pop-up {
      flex-direction: column;
      height: calc(100vh - 175px);
      min-height: 600px;
    }
  
    #pop-up-left-container {
      min-height: 40%;
      min-width: unset;
      border-radius: 30px 30px 0 0;
      padding: 0;
      padding-left: 5%;
    }
  
    #pop-up-logo {
      display: none;
    }
  
    #pop-up-headline {
      font-size: 47px;
      font-weight: 700;
      line-height: 56.4px;
      text-align: left;
    }
  
    #pop-up-comment {
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
    }
  
    #pop-up-content {
      flex-direction: column;
      position: relative;
    }
  
    #pop-up-contact-logo-container {
      position: absolute;
      top: 0;
      transform: translateY(-50%);
    }
  
    #pop-up-inputs-container {
      padding: 0;
      padding-top: 80px;
      width: 100%;
    }
  
    #pop-up-inputs-container form {
      padding: 0 20px;
      width: 100%;
      gap: 16px;
      align-items: center;
    }
  
    .pop-up-input-container {
      max-width: 500px;
    }
  
    .pop-up-input {
      max-width: 500px;
      padding: 10px 45px 10px 10px;
    }
  
    #pop-up-create-contact-button {
      padding: 15px 10px;
      margin-top: 10px;
    }
  
    #pop-up-cancel-button {
      display: none;
    }
  
    #close-add-task-pop-up path {
      fill: white;
    }
  
    #close-add-task-pop-up {
      height: 15px;
      width: 15px;
      top: 20px;
      right: 20px;
    }
  
    #close-add-task-pop-up:hover {
      background-color: unset;
    }
  
    body .translate-100 {
      transform: translate(-50%, 100%);
    }
  
    #edit-contact,
    #delete-contact {
      border-radius: 10px;
      align-items: center;
  
      padding: 8px;
      padding-left: 15px;
    }
  
    #edit-contact:hover,
    #delete-contact:hover {
      background-color: #eeeeee;
    }
  }
  
  @media (max-width: 600px) {
    #contact-headline h1 {
      margin: 0;
      font-size: 47px;
      font-weight: 700;
    }
  
    #contact-headline p {
      font-size: 20px;
      font-weight: 400;
    }
  }
  
  @media (max-width: 500px) {
    #contact-list-container {
      padding: 10px 15px 8px 15px;
    }
  
    .contact {
      gap: 15px;
      padding: 15px 5px;
    }
  }
  
  @media (max-height: 700px) {
    #right-site-container {
      padding: 10px 0 0 30px;
    }
  
    .mobile-line {
      margin-bottom: 20px;
    }
  
    #contact-information-headline {
      margin: 10px 0;
    }
  }
  
  @media(max-height: 600px) {
    body {
      min-height: 100vh;
      overflow-y: auto;
    }
  
    .add-task-pop-up {
      width: 100%;
      height: 100%;
      min-height: unset;
      border-radius: 0;
      overflow-y: auto;
    }
  
    #pop-up-left-container {
      border-radius: unset;
    }
  
    #pop-up-contact-logo {
      width: 80px;
      height: 80px;
    }
  
    #pop-up-inputs-container {
      padding-top: 72px;
    }
  
    #pop-up-headline {
      font-size: 40px;
    }
  }