@media (min-height: 800px) {
  footer {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
  }
}

@media (max-width: 768px) {
  .login {
    gap: 24px;
  }
}

@media (max-width: 600px) {
  .signUp {
    gap: 16px;
  }

  .login {
    padding: 20px 12px;
    gap: 20px;
  }

  .loginFrame {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  #headerLogo {
    width: 72px;
  }
}

@media (max-width: 500px) {
  header {
    padding-left: 16px;
    padding-right: 16px;
  }

  h1 {
    font-size: 46px;
    height: auto;
  }

  .login {
    padding: 20px 16px;
    gap: 16px;
  }

  .input {
    height: 44px;
    margin-bottom: 12px;
  }

  .loginInputStyle,
  .loginInputStyle::placeholder {
    font-size: 16px;
  }

  .signUp {
    flex-direction: column;
    height: 100%;
    gap: 8px;
  }

  .loginButtons {
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-top: 16px;
  }

  .darkBtn {
    width: 72%;
    font-size: 18px;
    padding: 12px 16px;
  }

  .darkBtn:nth-child(2) {
    width: unset;
  }

  .brightBtn {
    width: 72%;
    font-size: 18px;
    padding: 12px 16px;
  }
}

@media (max-width: 400px) {
  .checkbox {
    justify-content: flex-start;
    width: fit-content;
    margin: 0 auto;
    gap: 12px;
  }

  .checkbox label {
    width: auto;
    font-size: 14px;
  }

  .checkbox input {
    position: relative;
    width: 18px;
    height: 18px;
    margin: 0;
  }

  .checkbox-check,
  #loginForm .checkbox-check {
    width: 10px;
    height: 10px;
    left: 4px;
    top: 4px;
  }

  .signUp {
    display: none;
  }

  .loginFrame {
    flex: 0.5;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .login {
    gap: 12px;
    padding: 14px 10px;
  }

  h1 {
    font-size: 36px;
  }

  .input {
    height: 40px;
    margin-bottom: 8px;
    font-size: 16px;
  }

  .loginButtons {
    margin-top: 8px;
    gap: 10px;
  }

  .darkBtn,
  .brightBtn {
    width: 80%;
    font-size: 16px;
    padding: 10px 12px;
  }

  .signUpDown {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 32px;
    padding-left: 32px;
  }
}