@media (max-width: 800px) {
    .image-container {
      align-self: unset;
    }
  
    .loginFrame {
      gap: 32px;
    }
  
    .reportFailedSignUp {
      width: 40%;
      font-size: 14px;
    }
  
    .reportFailedSignUp button {
      padding: 10px 20px;
      font-size: 14px;
    }
  }
  
  @media (max-width: 700px) {
    .header {
      justify-content: flex-start;
    }
  }
  
  
  @media (max-width: 500px) {
    .reportFailedSignUp {
      width: 75%;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
      font-size: 12px;
      position: fixed;
    }
  
    .reportFailedSignUp button {
      font-size: 12px;
      margin: 0;
    }
  }
  
  @media (max-width: 400px) {
    #loginFrameSignUp {
      flex: 1;
    }
  
    #signUpForm {
      align-items: center;
      width: 96%;
    }
  
    .checkbox {
      left: 14px;
      gap: 8px;
    }
  }