body {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  min-height: 100vh;
  background-color: #f6f7f8;
  font-family: "Inter" !important;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #f6f7f8;
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 16px;
}

#login-privacy-legal-container {
  width: 250px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: "Inter", sans-serif;
  margin: 0px;
  height: 73px;
  display: flex;
  justify-content: center;
  font-size: 61px;
  font-weight: 700;
  line-height: 73.2px;
  gap: 16px;
  padding-bottom: 16px;
}

h1.underline {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
  margin: 0;
}

h1.underline::after {
  content: "";
  display: block;
  width: 75%;
  border-bottom: 3px solid #29abe2;
  margin: 0 auto;
  margin-top: 10px;
}

.loginFrame {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background-color: #f6f7f8;
}

.login {
  width: 80%;
  max-width: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
  padding: 24px;
  /* margin: 24px; */
  gap: 32px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

.loginInput {
  display: flex;
  flex-direction: column;
}

.loginInputStyle {
  padding: 12px 0px 12px 21px;
  border-radius: 10px;
  width: 100%;
  height: 100%;

  border: none;
  outline: none;

  box-sizing: border-box;

  font-size: 20px;
  font-weight: 400;
}

.loginInputStyle::placeholder {
  font-size: 20px;
  font-weight: 400;

  color: #d1d1d1;
}

.input {
  color: #d1d1d1;
  font-size: 20px;
  margin-bottom: 20px;
  height: 48px;
  border-radius: 10px;

  border: 1px solid #d1d1d1;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;

  font-size: 20px;
}

.input:has(#loginPassword:focus),
.input:has(.loginInputStyle:focus),
.input:has(#loginEmail:focus) {
  border: 1px solid #29abe2;
}

.loginInput img {
  width: 24px;
  height: 24px;
  padding: 12px;
}

.loginButtons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 35px;
  margin-top: 32px;
}

.loginButtons button {
  font-weight: bold;
  border-radius: 8px;
  gap: 10px;
  padding: 15px 24px 15px 24px;
}

.loginButtons button:hover {
  cursor: pointer;
}

#headerLogo {
  width: 100px;
}

#msgbox {
  color: red;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
}

.darkBtn {
  font-size: 21px;
  font-weight: bold;
  background-color: #2a3647;
  border-radius: 8px;
  border: none;
  padding: 15px 16px 15px 16px;
  gap: 10px;
  color: #ffffff;
  cursor: pointer;

  transition: 0.1s ease-in-out;
}

.darkBtn:hover {
  background-color: rgba(41, 171, 226, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.brightBtn {
  font-size: 21px;

  border: 2px solid #2a3647;
  color: #2a3647;

  background-color: white;

  transition: 0.2s ease-in-out;
}

.brightBtn:hover {
  border: 2px solid rgba(41, 171, 226, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: rgba(41, 171, 226, 1);
}

.notification {
  display: flex;
  justify-content: center;
}

.notification p {
  color: red;
  font-size: 12px;
}

/* .notificationError {
  display: flex;
  justify-content: center;
}

.notificationError p {
  color: red;
  font-size: 12px;
} */

.input img {
  cursor: pointer;
}

.signUp {
  gap: 35px;
  display: flex;
  height: 50%;
}

.signUp p {
  width: 153px;
  height: 24px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 20px;

  /* width: 314px; */
}

.checkbox input {
  width: 24px;
  height: 24px;
  border-radius: 3px;
  cursor: pointer;
  appearance: unset;
  border: solid;
}

.checkbox-check {
  position: absolute;
  left: 25px;
  top: 7px;
  cursor: pointer;
}

#loginForm .checkbox-check {
  left: 10px;
}

.privacyPolicity label {
  width: 300px;
}

.checkbox-label {
  font-size: 16px;
  font-weight: 400;
}

header h1 {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

header img:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  padding: 8px;
  gap: 8px;
  /* color: rgba(41, 171, 226, 1); */
}

/* a:hover {
  color: rgba(41, 171, 266, 1);
  font-weight: bold;
} */

footer {
  display: flex;
  justify-content: center;
  padding: 16px;
  background: rgba(246, 247, 248, 1);
}

footer div {
  width: 100%;
  height: 35px;
  gap: 16px;
  opacity: 0px;
  display: flex;
  justify-content: center;
  color: rgba(168, 168, 168, 1);
}

footer a {
  color: rgba(168, 168, 168, 1);
  font-size: 16px;
  font-weight: 400;

  /* transition: 0.2s  ease-in-out; */
}

footer a:hover {
  font-weight: 700;
  color: #29abe2;
}

.d-none {
  display: none;
}

.signUpDown {
  display: none;
}

.red-border {
  border-color: red;
}

@media (min-height: 800px) {
  footer {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
  }
}

@media (max-width: 600px) {
  .signUp {
    gap: 16px;
  }

  .login {
    padding-right: 8px;
    padding-left: 8px;
  }

  #headerLogo {
    width: 72px;
  }
}

@media (max-width: 500px) {
  header {
    padding-left: 32px;
    padding-right: 32px;
  }

  h1 {
    font-size: 50px;
  }

  /* .loginFrame {
    flex: unset;
  } */

  .login {
    padding-right: 16px;
    padding-left: 16px;
  }

  .signUp {
    flex-direction: column;
    height: 100%;
  }

  .loginButtons {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .darkBtn {
    width: 70%;
    font-size: 18px;
  }

  .darkBtn:nth-child(2) {
    width: unset;
  }

  .brightBtn {
    width: 70%;
    font-size: 18px;
  }
}

@media (max-width: 400px) {
  .checkbox-check {
    left: 10px;
  }

  .signUp {
    display: none;
  }

  .loginFrame {
    flex: 0.5;
  }

  .signUpDown {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 32px;
    padding-left: 32px;
  }

  .input {
    font-size: 16px;
  }
}
