body {
  margin: 0px;
  height: 100%;
  font-family: "Inter", sans-serif !important;
}

/* body {
    margin: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
} */

header {
  /* position: absolute; */
  /*left: 232px; */ /*263*/
  right: 0;
  top: 0px;
  display: flex;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 1);
  height: 96px;
  align-items: center;
}

header h1 {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

header img:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  padding: 8px;
  gap: 8px;
  color: rgba(41, 171, 226, 1);
}

a:hover {
  color: rgba(41, 171, 266, 1);
  font-weight: 400;
  text-decoration: underline;
}

footer {
  display: flex;
  justify-content: center;
  /* padding: 16px; */
  width: 100%;
  background: rgba(246, 247, 248, 1);
}

footer div {
  width: 246px;
  height: 35px;
  gap: 16px;
  opacity: 0px;
  display: flex;
  justify-content: center;
  color: rgba(168, 168, 168, 1);
}

footer a {
  color: rgba(168, 168, 168, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
}

footer a:hover {
  font-weight: bold;
}
*/ .loginFrame {
  height: 96vh;
}

.d-none {
  display: none !important;
}
