@media (max-width: 1350px) {
  .greetHead {
    display: none;
  }
  
  .mainSection {
    padding: 30px 68px 100px 300px;
  }
}
  
@media (max-width: 1100px) {
  .mainSection {
    padding: 30px 58px 100px 290px;
  }
}
  
@media (max-width: 1000px) {
  .mainSection {
    margin-top: 96px;
    box-sizing: border-box;
    padding: 30px 50px 50px 50px;
    height: calc(100vh - 175px);
  }
  
  .summaryHead {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .summaryHead h1 {
    margin: 0;
    font-size: 47px;
    font-weight: 700;
    line-height: 56.4px;
  }
  
  .summaryHead p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
  }
  
  .mobile-line {
    display: block;
  }
  
  .summaryHead .borderLine {
    display: none;
  }
  
  .dataCont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  
  .dataCont-circle {
    width: 40px;
    height: 40px;
  }
  
  .done-circle svg {
    width: 18px;
    height: 12px;
  }
  
  .urgent-circle svg {
    width: 22px;
    height: 16px;
    height: 16px;
  }
  
  body .to-do-circle .mobile-icon {
    display: block;
  }
  
  .to-do-circle svg {
    display: none;
  }
  
  .bigNumber {
    font-size: 47px;
    font-weight: 600;
  }
  
  h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
  }
  
  .date-text {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
  }
  
  .date-text + p {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
  }
  
  .greet-animation {
    display: flex;
  }
}
  
@media (max-width: 420px) {
  .mainSection {
    padding: 10px 20px 50px 20px;
  }
  
  .contentFlex {
    gap: 10px;
  }
  
  .moreBoxes {
    gap: 15px;
  }
}

  
@media (max-height: 740px) {
  .mainSection {
    padding-top: 10px;
  }
  
  .dataCont {
    gap: 10px;
  }
  
  .mobile-line {
    margin-top: 8px;
    margin-bottom: 18px;
  }
}