<template id="contact-template">
    <div class="contact" onclick="toggleBigContact(${j},'${userName}','${userEmail}','${userNumber}','${userID}','${userColor}')">
        <!-- profile badge -->
        <div class="profile-badge" style='background-color: ${userColor}'>
          <p>${firstLetterFirstTwoWords(userName)}</p>
        </div>
        <div class="name-and-email-container">
          <p class="name">${userName}</p>
          <p class="email">${user["email"]}</p>
        </div>
    </div>
</template>