<head>
    <link rel="stylesheet" href="css/desktop_template.css">
</head>

<body>
    <section class="sidebar">
        <img src="Assets/img/Capa 1.svg" alt="">
        <div class="menuBarDesktop">
            <div onclick="goToSummary()" class="linkTo"><img href="Assets/img/Vector1.svg"><p>Summary</p></div>
            <div onclick="goToAddTask()" class="linkTo"><img href="Assets/img/edit_square.svg"><p>Add Task</p></div>
            <div onclick="goToBoard()" class="linkTo"><img href="Assets/img/Capa 1.svg"><p>Board</p></div>
            <div onclick="goToContacts()" class="linkTo"><img href="Assets/img/perm_contact_calendar.svg"><p>Contacts</p></div>
        </div>
        <footer>
            <div>
                <p>Privacy Policy</p>
                <p>Legal notice</p>
            </div>
        </footer>
    </section>
</body>